<!DOCTYPE html>
<html lang="en" id="oranda" class="{{ layout.theme }}">
  <head>
    <title>{{ layout.project_name }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ layout.oranda_css_path }}" />
    {% if layout.has_additional_css %}
      <link rel="stylesheet" href="{{ "custom.css" | generate_link(layout.path_prefix) }}" />
    {% endif %}
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="page-body">
        <main>
          <header>
            <h1 class="title">{{ layout.project_name }}</h1>
          </header>
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>
  </body>
</html>
