/target
public/
oranda-debug.log
# banish macos to the depths of hell
.DS_Store
.idea/

# oranda-css
oranda-css/dist
oranda-css/.yarn
# weirdo yarn feature that dumps files everywhere
oranda-css/.pnp*
node_modules

# nix
result/