@tailwind base;

/* GLOBAL */

body,
html {
  @apply scroll-smooth;
  font-family: var(--font-face);
}

*:focus {
  @apply outline outline-offset-4 outline-2;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.dark body {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* TEXT */

a {
  color: var(--link-color);
  @apply hover:underline hover:underline-offset-4;
}

.title {
  @apply text-center text-6xl sm:text-8xl pb-2;
}

h1 {
  @apply heading-1;
}

h2 {
  @apply heading-2;
}

h2,
h3 {
  @apply mt-12 sm:mt-24;
}

h3 {
  @apply heading-3;
}

h4 {
  @apply heading-4;
}

h5 {
  @apply heading-5;
}

h6 {
  @apply heading-6;
}

p,
table {
  @apply text-base sm:text-lg leading-relaxed mb-8;
}

b,
li {
  @apply text-base sm:text-lg leading-relaxed;
}

/* TABLES */

table {
  @apply my-16;
}

table th {
  @apply text-left uppercase;
}

table td {
  @apply align-top p-4 text-sm font-mono;
}

table td > code {
  @apply text-sm;
}

table tbody tr {
  @apply border-t;
  border-color: var(--dark-color);
}

.dark table tbody tr {
  border-color: var(--light-color);
}

div.table {
  @apply grid grid-cols-4 w-full my-16;
}

div.table .th {
  @apply text-left uppercase font-bold border-t text-lg p-4;
  border-color: var(--dark-color);
}

.dark div.table .th {
  border-color: var(--light-color);
}

div.table span:not(.th) {
  @apply text-sm font-mono border-t p-4;
  border-color: var(--dark-color);
}

.dark div.table span:not(.th) {
  border-color: var(--light-color);
}

/* LISTS */

ul,
li {
  @apply list-none;
}

li {
  @apply sm:ml-8 ml-4 mb-4;
}

/* CODE */
code {
  @apply whitespace-pre-wrap text-base sm:text-lg leading-relaxed mb-4;
  color: var(--link-color);
}

div.table code {
  @apply text-sm;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit;
  line-height: inherit;
}

pre {
  @apply p-4 overflow-auto my-16;
}

pre > code {
  @apply text-xs sm:text-base;
}

hr {
  @apply text-center my-20 border border-dashed w-64 md:w-96 m-auto;
}

a > img {
  @apply inline-block m-0;
}

img {
  @apply my-16 sm:ml-8;
}

blockquote {
  @apply border-l-2 text-2xl pl-6;
  border-color: var(--link-color);
}

main {
  @apply mx-auto my-24 lg:max-w-4xl max-w-[80%];
}

.github-icon {
  @apply w-5 h-5 bg-github-logo;
}

.dark .github-icon {
  @apply bg-github-logo-dark;
}

.logo {
  @apply m-auto;
}

.inline-code {
  @apply text-center break-all;
}
