@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "base.postcss";
@import "utilities.postcss";
@import "buttons.postcss";
@import "components.postcss";

@import "pages/artifacts.postcss";
@import "pages/changelog.postcss";

@import "themes/axo.postcss";
@import "themes/hacker.postcss";
@import "themes/cupcake.postcss";
