@tailwind utilities;

.oblique {
  font-style: oblique;
}

.well-color {
  @apply bg-gray-900;
}

.oranda-hide {
  @apply hidden;
}

@media (prefers-reduced-motion) {
  .axo-gradient {
    animation-duration: 0s;
  }
}

.heading-1 {
  @apply text-3xl sm:text-6xl leading-tight font-black mb-8;
}

.heading-2 {
  @apply text-2xl sm:text-5xl leading-tight font-bold mb-6;
}

.heading-3 {
  @apply text-2xl sm:text-4xl leading-tight font-bold mb-4;
}

.heading-4 {
  @apply text-2xl sm:text-3xl leading-tight mb-4;
}
.heading-5 {
  @apply text-xl sm:text-2xl leading-tight text-slate-700 dark:text-slate-200 font-bold mb-4;
}

.heading-6 {
  @apply text-xl sm:text-xl leading-tight text-slate-800 dark:text-slate-300 font-bold mb-4;
}

.monospace {
    @apply font-mono;
}

.hidden {
  display: none;
}
