:root {
    --dark-color: #141414;
    --light-color: #ffffff;
    --link-color: #0284c7;
    --light-highlight-bg-color: #ededed;
    --light-highlight-fg-color: #595959;
    --dark-highlight-bg-color: #27272a;
    --dark-highlight-fg-color: #ededed;
    --font-face: "Fira Sans", sans-serif;
}