.body.axo {
  --headings: #ff75c3;
  --text: #fafafa;
  --bg: #0f172a;
  --link: #f57070;
  --table-bg: #232136;
  --table-border: #0f172a;
  --table-header-bg: #161e2b;
  --sans-serif-font: "comfortaa", serif;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  color: var(--text);
  background: var(--bg);
  font-family: var(--sans-serif-font);

  .anchor svg path {
    fill: var(--text);
  }

  nav a {
    color: var(--text);
  }

  h1,
  h2,
  h3,
  h5,
  h4,
  h6 {
    color: var(--headings);
  }

  p {
    color: var(--text);
  }

  a {
    color: var(--link);

    text-decoration-line: none;

    &:hover {
      text-decoration-line: none;
      text-underline-offset: 4px;
      color: var(--headings);

      text-decoration-color: var(--headings);
    }
  }

  blockquote {
    border-left: 2.16px solid rgb(242, 67, 64);
  }

  blockquote,
  blockquote p {
    color: var(--text-light);
  }

  table,
  tr,
  td {
    background-color: var(--table-bg);
  }

  table tbody tr:not(:last-of-type) {
    border-color: var(--table-border);
  }

  table thead th {
    background-color: var(--table-header-bg);
    color: var(--link);
  }

  .tabs label {

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: var(--bg);
  }
}

@keyframes animation-gradient-title {
  0% {
    background-position: 0 1600px;
  }

  to {
    background-position: 1600px 0;
  }
}

header h1 {
  font-size: 6rem;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: animation-gradient-title;
  background: -webkit-linear-gradient(
    left,
    var(--link),
    var(--headings),
    var(--link)
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 1600px 200px;
}
