/* base styles for all themes */

table {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  thead th {
    padding-bottom: 6.3px;
  }

  th {
    font-weight: 600;
  }

  td,
  th {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 14px 10px;
    text-align: left;
    vertical-align: top;
  }
}

label {
  display: inline-block;
  margin-bottom: 12.6px;
}

html,
body {
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  line-height: 29.7px;
}

pre,
code,
kbd,
samp,
var,
output {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

kbd {
  background: #2a6f3b;
  color: #fff;
}

mark {
  background: #ffc;
  padding: 0 3.6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin-bottom: 18px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 41.4px;
  margin-top: 72px;
}

h2 {
  font-size: 25.2px;
  font-weight: 400;
  line-height: 30.6px;
  margin-top: 54px;
}

h3 {
  font-size: 21.6px;
  line-height: 27px;
  margin-top: 36px;
}

h4 {
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 18px;
}

h5 {
  font-size: 14.4px;
  font-weight: bold;
  line-height: 21.6px;
  text-transform: uppercase;
}

h6 {
  color: #595959;
  font-size: 14.4px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
}

a {
  color: #275a90;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border-bottom: 1px solid #595959;
}

small {
  font-size: 15.3px;
}

var,
em,
i {
  font-style: italic;
}

dt,
strong,
b {
  font-weight: 600;
}

del,
s {
  text-decoration: line-through;
}

ins,
u {
  text-decoration: underline;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  line-height: 1;
  bottom: -0.25em;
}

nav {
  padding: 0;
}

p,
ul,
ol,
dl,
blockquote,
hr,
table,
form,
fieldset,
figure,
address {
  margin-bottom: 32px;
}

section:not(.footnotes) {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

article,
header,
footer {
  padding: 43.2px;
}

nav {
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    gap: 18px;
    align-items: center;
  }
}

li dl,
li ol,
li ul {
  margin-bottom: 0;
}

dl {
  display: inline-block;
}

dt {
  padding: 0 18px;
}

dd {
  padding: 0 18px 4.5px;
}

dd:last-of-type {
  border-bottom: 1.08px solid #595959;
}

dd + dt {
  border-top: 1.08px solid #595959;
  padding-top: 9px;
}

blockquote {
  border-left: 2.16px solid #595959;
  padding: 4.5px 18px 4.5px 15.84px;

  footer {
    color: #595959;
    font-size: 13.5px;
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }
}

img {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

figure img {
  display: block;
}

pre {
  white-space: pre-wrap;
}

@media (max-width: 767px) {
  header,
  footer {
    padding: 18px;
  }

  section {
    width: auto;
  }

  x:-moz-any-link {
    display: table-cell;
  }
}
