body {
  @apply dark:bg-axo-black bg-slate-50 text-slate-800 dark:text-slate-300;
}

.hidden {
  display: none;
}

ul, li {
   @apply list-none;
}

body, html {
  @apply scroll-smooth;
}

main {
  @apply mx-auto my-24 lg:max-w-3xl max-w-[80%];
}

a {
  @apply text-axo-orange hover:underline hover:decoration-axo-pink hover:underline-offset-4 hover:text-axo-pink;
}

h2,
h3 {
  @apply mt-12 sm:mt-24;
}

pre {
  @apply p-4 overflow-auto my-16;
}

a > img {
  @apply inline-block m-0;
}

img {
  @apply my-16 sm:ml-8;
}

blockquote {
  @apply pl-6 border-l-2 border-slate-700;
}

blockquote {
  @apply text-slate-400 border-l-2 border-axo-orange;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

ul ul {
  @apply list-circle;
}

ol ol,
ul ol {
  @apply list-lower-roman;
}

ul ul ul {
  @apply list-square;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  @apply list-lower-alpha;
}

li {
  @apply sm:ml-8 ml-4 mb-4;
}

pre > code {
  @apply text-xs sm:text-base;
}

hr {
  @apply text-axo-pink text-center my-20 border border-dashed w-64 md:w-96 m-auto;
}

.repo_banner {
  @apply axo-gradient py-1.5;
}

.repo_banner > a {
  @apply flex justify-center gap-2 items-start text-slate-50 dark:text-axo-black h-[20px];
}

.github-icon {
  @apply invert dark:invert-0 w-5 h-5 bg-github-logo;
}

.footer .github-icon {
  @apply invert;
}
footer.footer {
  @apply axo-gradient text-slate-50 flex w-full justify-between px-4 py-2 text-xs items-center;
}

.nav {
  @apply p-0 text-center mb-12;
}

.nav ul {
  @apply p-0 flex flex-wrap gap-6 items-center text-center list-none justify-center;
}

.nav ul li {
  @apply m-0 capitalize;
}

.title {
  @apply text-center text-6xl sm:text-8xl axo-gradient-text;
}

.logo {
  @apply m-auto;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit;
  line-height: inherit;
}

.oranda-hide {
  @apply hidden;
}

div.table {
  @apply grid grid-cols-4 w-full my-16;
}

.package-managers-downloads ul {
  @apply my-16;
}

.package-managers-downloads ul li {
  @apply ml-0;
}

.package-managers-downloads pre {
  @apply my-0;
}

div.table .th {
  @apply text-axo-pink text-left uppercase font-bold border-t border-violet-300 text-lg p-4;
}

div.table span:not(.th) {
  @apply text-sm font-mono border-t border-violet-300 p-4;
}

div.table code {
  @apply text-sm;
}

.artifacts {
  @apply flex gap-2 items-center flex-col mb-16;
}

.detect {
  @apply text-center text-slate-500;
}

.artifact-header pre {
  @apply my-0 mx-auto;
}

.artifact-header > h4 {
  @apply text-center;
}

.artifact-header {
  @apply max-w-full;
}


.artifact-header > div:not(.install-code-wrapper) {
  @apply flex gap-4 justify-center items-center mt-4;
}

.backup-download {
  @apply hover:no-underline;
}

.install-code-wrapper {
  @apply flex items-stretch;
}


.install-code-wrapper > pre {
  @apply flex-grow;
}


.install-code-wrapper > .button {
  @apply w-auto rounded-l-none flex items-center hover:no-underline focus:outline-offset-[-2px];
}

.install-code-wrapper > .button.copy-clipboard-button {
  @apply rounded-none border-r-axo-black border-r-2;
}


.install-code-wrapper > .button svg {
  @apply w-6 h-6;
}


.release-body h1 {
  @apply heading-2 mt-12;
}
.release-body h2 {
  @apply heading-3 mt-12;
}

.release-body h3 {
  @apply heading-4;
}
.release-body h4 {
  @apply heading-5;
}
.release-body h5 {
  @apply heading-6;
}

.releases-nav {
  @apply top-12 sticky self-start;
}

.release > h2 {
  @apply mt-0;
}

.releases-list {
  @apply flex flex-col gap-32;
}

.releases-wrapper {
  @apply grid gap-12 relative items-start mt-24;
  grid-template-columns: 160px 1fr;
}

.releases-nav ul {
  @apply list-none m-0 flex flex-col gap-2 border-l-4 border-l-gray-800 pl-4;
}
.releases-nav ul li {
  @apply m-0 relative ml-1 text-sm;
}

.releases-nav ul li:before {
  content: "";
  @apply h-1 w-4 block absolute dark:bg-gray-800 bg-slate-300 top-1/2 -left-5 -translate-y-1/2;
}

.releases-nav ul li a {
  @apply text-slate-800 dark:text-slate-300 decoration-transparent hover:decoration-axo-orange-dark underline-offset-2 underline;
}

.release-info {
  @apply flex items-center gap-8 text-base;
}

.prereleases-toggle {
  @apply relative flex items-start -mt-4;
}

.prereleases-toggle input {
  @apply h-5 w-5 rounded text-axo-orange-dark focus:ring-axo-orange transition dark:bg-slate-800 dark:border-gray-700 bg-slate-200 border-gray-400;

  @apply checked:bg-axo-orange-dark !important;
}

.prereleases-toggle label {
  @apply font-medium;
}


.inline-code {
  @apply text-center break-all;
}