{% extends "workspace_index/layout.html" %}

{% block content %}
<ul class="index-grid">
    {% for slug, member in page.members | items %}
        <li>
            <a href="{{ member.slug | generate_link(layout.path_prefix) }}">
                <h3>⭐</h3>
                <span>{{ member.name }}</span>
            </a>
            {% if member.description %}
                <p>{{ member.description }}</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}