{% extends "workspace_index/layout.html" %}

{% block content %}
<ul class="index-grid">
    {% for preferred in page.preferred_members %}
        <li class="preferred">
            <div class="content">
                <div class="index-about">
                    <h2>{{ preferred.name }}</h2>
                    {% if preferred.description %}
                        <div class="index-description">{{ preferred.description }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="links">
                <a href="{{ preferred.slug | generate_link(layout.path_prefix) }}">Website</a>
                {% if preferred.repository %}
                    <a href="{{ preferred.repository }}">Repository</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

{% if page.docs_content %}
    {{ page.docs_content|safe }}
{% endif %}

<ul class="index-grid">
    {% for member in page.members %}
        <li>
            <div class="content">
                <div class="index-about">
                    <h4>{{ member.name }}</h4>
                    {% if member.description %}
                        <div class="index-description">{{ member.description }}</div>
                    {% endif %}
                </div>
                {% if member.logo %}
                    <div class="index-logo"><img src="{{ member.logo }}" alt="{{ member.name }}'s logo" /></div>
                {% endif %}
            </div>
            <div class="links">
                <a href="{{ member.slug | generate_link(layout.path_prefix) }}">Website</a>
                {% if member.repository %}
                    <a href="{{ member.repository }}">Repository</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
