.light,
.dark {
  .title {
    @apply axo-gradient-text;
  }
  a {
    @apply text-axo-orange hover:decoration-axo-pink hover:text-axo-pink;
  }

  footer .github-icon {
    @apply invert;
  }

  .prereleases-toggle input {
    @apply checked:bg-axo-orange-dark !important;
  }
}

.light .github-icon {
  @apply invert;
}
