@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap");

html.hacker {
  ::selection {
    @apply text-axo-black;
    background-color: var(--hacker-green);

    -webkit-text-fill-color: var(--color-axo-black);
  }

  body {
    @apply bg-axo-black text-slate-300;
    font-family: "IBM Plex Mono", monospace;
    --hacker-green: #20c20e;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-violet-600;
  }

  .repo_banner > a,
  footer {
    @apply text-axo-black;
  }

  p,
  table {
    @apply text-slate-300;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  .title {
    @apply text-left relative inline-block ml-8;

    &:after {
      content: "";
      height: 70px;
      background: var(--hacker-green);
      animation: blink-animation 1s steps(5, start) infinite;
      @apply block absolute left-full ml-3 w-4 top-3;
    }
    &::before {
      content: "> ";
      @apply block text-gray-800 text-5xl absolute top-1/2 -translate-y-1/2 -left-8 mt-2;
    }
  }

  .title,
  div.table .th,
  h1 {
    color: var(--hacker-green);
  }

  a {
    @apply text-orange-500 hover:decoration-orange-500;
  }

  .axo-gradient {
    background: -webkit-linear-gradient(
      left,
      var(--hacker-green),
      var(--color-green-600),
      var(--hacker-green)
    );
  }

  .nav ul {
    @apply justify-start;
  }

  .button.primary {
    @apply text-axo-black bg-orange-500 hover:bg-orange-600 border-transparent;
  }

  .artifact-header > h4 {
    @apply text-left;
  }

  .releases-nav ul {
    @apply border-l-gray-600;
    li:before {
      @apply bg-gray-600;
    }
    li a {
      @apply text-slate-200 hover:decoration-orange-500;
    }
  }

  .prereleases-toggle input:checked {
    @apply bg-orange-500;
  }
}
