<section class="release {% if release.is_prerelease %}pre-release {% if not is_page %}hidden{% endif %}{% endif %}">
  {% if not is_page %}<h2 id="tag-{{ release.version_tag }}">
    <a href="{{ release.version_tag }}/">
      {% if release.name %}
        {{ release.name }}
      {% else %}
        {{ release.version_tag }}
      {% endif %}
    </a>
  </h2>{% endif %}
  <div class="release-info">
    <span class="flex items-center gap-2">
      {% include "icons/tag.html" %}
      {{ release.version_tag }}
    </span>
    <span class="flex items-center gap-2">
      {% if release.formatted_date %}
        {% include "icons/date.html" %}
        {{ release.formatted_date }}
      {% endif %}
    </span>
  </div>
  <div class="release-body">
    {{ release.body }}
  </div>
</section>
