.package-managers-downloads ul {
  @apply my-16;
}

.package-managers-downloads ul li {
  @apply ml-0;
}

.package-managers-downloads pre {
  @apply my-0;
}

.artifacts {
  @apply flex flex-col items-center mb-8 p-0 rounded-lg max-w-full w-full;
  color: var(--highlight-fg-color);
  background-color: var(--highlight-bg-color);
}

.artifacts-main {
  @apply grid max-w-full w-full text-xs md:text-base;
  grid-template-columns: minmax(0, 1fr);
  justify-items: stretch;
  justify-content: stretch;
  align-items: center;
}

@media (min-width: 768px) {
  .artifacts-main {
    grid-template-columns: minmax(20%, 20%) minmax(80%, 80%);
  }
}

.artifacts-table {
  @apply block max-w-full overflow-auto;
}

ul.tabs {
  @apply flex;
  border-color: var(--highlight-fg-color);
}

ul.tabs li {
  @apply hover:cursor-pointer m-0 px-3 py-2 rounded-t-sm text-base;
}

ul.tabs li.selected {
  color: var(--highlight-bg-color);
  background-color: var(--highlight-fg-color);
}

.install-content {
  @apply max-w-full p-0 m-0;
}

.detect {
  @apply text-center pr-2 md:pr-0;
}

.detect + a {
  @apply block sm:inline my-2 sm:my-0;
}

.detect .detected-os {
  @apply capitalize;
}

.artifact-body,
.artifact-header {
  @apply p-4;
}

.artifact-body pre {
  @apply my-0 mx-auto;
}

.artifact-header {
  @apply text-center;
}

.artifact-header > h5 {
  @apply -my-1 font-normal;
  color: var(--highlight-fg-color);
}

.artifact-header > h5 > span.bold {
  @apply font-bold;
}

.artifact-body > div:not(.install-code-wrapper):not(.bottom-options) {
  @apply md:flex md:gap-4 justify-center text-center md:text-left items-center mt-4;
}

.backup-download {
  @apply hover:no-underline;
}

.artifact-body > .bottom-options {
  @apply flex flex-row w-full gap-3 justify-end items-center mt-2;
}

.bottom-options.one {
  @apply justify-center;
}

.install-code-wrapper {
  @apply flex items-stretch;
}

.install-code-wrapper > pre {
  @apply flex-grow flex-shrink rounded-l text-sm;
}

.install-code-wrapper > .button {
  @apply w-auto rounded-none flex items-center hover:no-underline focus:outline-offset-[-2px];
  min-height: 56px;
}

.install-code-wrapper > .button:last-child {
  @apply rounded-r;
}

.download-wrapper {
  @apply text-center;
}

.button .button-subtitle {
  @apply text-xs block;
}

.published-date {
  @apply block my-2;
}

.arch {
  @apply p-0 m-0;
}

.arch .contents {
  @apply py-4 px-2 rounded-b rounded-tr;
  background-color: var(--highlight-fg-color);
  min-height: 89px;
}

.mobile-download {
  @apply block sm:hidden mx-auto mb-12;
}
