.package-managers-downloads ul {
  @apply my-16;
}

.package-managers-downloads ul li {
  @apply ml-0;
}

.package-managers-downloads pre {
  @apply my-0;
}

.artifacts {
  @apply flex gap-2 items-center flex-col mb-16;
}

.detect {
  @apply text-center text-slate-500 pr-2 md:pr-0;
}

.detect .detected-os {
  @apply capitalize;
}

.artifact-header pre {
  @apply my-0 mx-auto;
}

.artifact-header > h4 {
  @apply text-center -mb-2;
}

.artifact-header {
  @apply max-w-full;
}

.artifact-header > div:not(.install-code-wrapper) {
  @apply md:flex md:gap-4 justify-center text-center md:text-left items-center mt-4;
}

.backup-download {
  @apply hover:no-underline;
}

.install-code-wrapper {
  @apply flex items-stretch;
}

.install-code-wrapper > pre {
  @apply flex-grow;
}

.install-code-wrapper > .button {
  @apply w-auto rounded-l-none flex items-center hover:no-underline focus:outline-offset-[-2px];
}

.install-code-wrapper > .button.copy-clipboard-button {
  @apply rounded-none border-r-axo-black border-r-2;
}

.published-date {
  @apply block mb-2;
}
