.package-managers-downloads ul {
  @apply my-16;
}

.package-managers-downloads ul li {
  @apply ml-0;
}

.package-managers-downloads pre {
  @apply my-0;
}

.artifacts {
  @apply flex gap-2 items-center flex-col mb-16 p-5;
  color: var(--light-highlight-fg-color);
  background-color: var(--light-highlight-bg-color);
}

.dark .artifacts {
  color: var(--dark-highlight-fg-color);
  background-color: var(--dark-highlight-bg-color);
}

ul.tabs {
  @apply flex border-b-2;
}

ul.tabs li {
  @apply hover:cursor-pointer m-0 px-3 py-2 text-base;
}


ul.tabs li.selected {
  color: var(--light-highlight-bg-color);
  background-color: var(--light-highlight-fg-color);
}

.dark ul.tabs li.selected {
  color: var(--dark-highlight-bg-color);
  background-color: var(--dark-highlight-fg-color);
}

.install-content {
  @apply max-w-full p-0 m-0;
}

.detect {
  @apply text-center pr-2 md:pr-0;
}

.detect + a {
  @apply block sm:inline my-2 sm:my-0;
}

.detect .detected-os {
  @apply capitalize;
}

.artifact-header pre {
  @apply my-0 mx-auto;
}

.artifact-header > h4 {
  @apply text-center -mb-2 font-bold;
}

.artifact-header {
  @apply max-w-full w-full;
}

.artifact-header > div:not(.install-code-wrapper) {
  @apply md:flex md:gap-4 justify-center text-center md:text-left items-center mt-4;
}

.backup-download {
  @apply hover:no-underline;
}

.install-code-wrapper {
  @apply flex items-stretch;
}

.install-code-wrapper > pre {
  @apply flex-grow flex-shrink;
}

.install-code-wrapper > .button {
  @apply w-auto rounded-l-none flex items-center hover:no-underline focus:outline-offset-[-2px];
}

.install-code-wrapper > .button.copy-clipboard-button {
  @apply rounded-none;
}

.download-wrapper {
  @apply flex flex-row justify-center;
}
.button .button-subtitle {
  @apply text-xs block;
}

.published-date {
  @apply block mb-2;
}

.arch-select {
  @apply self-end;
}

.arch {
  @apply p-0 m-0 pt-4;
}
.arch .contents {
  @apply pt-4;
  min-height: 7rem;
}