.install-code-wrapper > .button svg {
  @apply w-6 h-6;
}

.release-body {
  word-break: break-word;
}

.release-body h1 {
  @apply heading-2 mt-12;
}
.release-body h2 {
  @apply heading-3 mt-12;
}

.release-body h3 {
  @apply heading-4;
}
.release-body h4 {
  @apply heading-5;
}
.release-body h5 {
  @apply heading-6;
}

.release-body ul,
.release-body li {
  @apply list-disc;
}

.releases-nav {
  @apply top-12 sticky self-start w-max;
}

.release > h2 {
  @apply mt-0;
}

.release > h2 a {
  color: var(--fg-color);
}

.releases-list {
  @apply flex flex-col gap-32;
}

.releases-wrapper {
  @apply md:grid gap-12 relative mt-12;
  grid-template-columns: 160px minmax(0, 1fr);
}

.releases-nav ul {
  @apply hidden list-none m-0 md:flex flex-col gap-2 border-l-4 pl-4;
  border-color: var(--fg-color);
}

.releases-nav ul li {
  @apply m-0 relative ml-1 text-sm;
}

.releases-nav ul li:before {
  content: "";
  @apply h-1 w-4 block absolute top-1/2 -left-5 -translate-y-1/2;
  background-color: var(--fg-color);
}

.releases-nav ul li a {
  @apply decoration-transparent underline-offset-2 hover:underline;
  color: var(--fg-color);
}

.release-info {
  @apply flex items-center gap-8 text-base;
}

.prereleases-toggle {
  @apply hidden relative md:flex items-center mb-6 w-max;
}

.prereleases-toggle input {
  @apply h-5 w-5 rounded;
  color: var(--fg-color);
}

.prereleases-toggle label {
  @apply font-medium ml-3;
}

.release-info svg {
  @apply w-6 h-6;
}

.release-info > span {
  @apply flex gap-2 items-center;
}
