.install-code-wrapper > .button svg {
  @apply w-6 h-6;
}

.release-body h1 {
  @apply heading-2 mt-12;
}
.release-body h2 {
  @apply heading-3 mt-12;
}

.release-body h3 {
  @apply heading-4;
}
.release-body h4 {
  @apply heading-5;
}
.release-body h5 {
  @apply heading-6;
}

.release-body ul,
.release-body li {
  @apply list-disc;
}

.releases-nav {
  @apply top-12 sticky self-start  w-max;
}

.release > h2 {
  @apply mt-0;
}

.releases-list {
  @apply flex flex-col gap-32;
}

.releases-wrapper {
  @apply grid gap-12 relative items-start mt-12;
  grid-template-columns: 160px 1fr;
}

.releases-nav ul {
  @apply list-none m-0 flex flex-col gap-2 border-l-4 border-l-gray-800 pl-4;
}
.releases-nav ul li {
  @apply m-0 relative ml-1 text-sm;
}

.releases-nav ul li:before {
  content: "";
  @apply h-1 w-4 block absolute dark:bg-gray-800 bg-slate-300 top-1/2 -left-5 -translate-y-1/2;
}

.releases-nav ul li a {
  @apply text-slate-800 dark:text-slate-300 decoration-transparent hover:decoration-axo-orange-dark underline-offset-2 underline;
}

.release-info {
  @apply flex items-center gap-8 text-base;
}

.prereleases-toggle {
  @apply relative flex items-center mb-6 w-max;
}

.prereleases-toggle input {
  @apply h-5 w-5 rounded text-axo-orange-dark focus:ring-axo-orange transition dark:bg-slate-800 dark:border-gray-700 bg-slate-200 border-gray-400;
}

.prereleases-toggle label {
  @apply font-medium ml-3;
}

.release-info svg {
  @apply w-6 h-6;
}

.release-info > span {
  @apply flex gap-2 items-center;
}
